.wrapper {
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}
h5 {
    margin: 0 0 5px 0;
}
.loader {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.loader--active {
    opacity: 1;
}
.results {
    min-height: 100vh;
}